<%= form_with model: post do |form| %>
  <%= form.hidden_field :user_id, value: @user.id %>
  <div class="col-12">
    <div class="col-4 mx-auto mt-4">
      <div class="mb-3">
        <%= form.label 'Title',  class: 'form-label' %>
        <%= form.text_field :title,  class: 'form-control col-2' %>
        <% @post.errors.full_messages_for(:title).each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      </div>
      <div class="mb-3">
        <%= form.label :content,  class: 'form-label' %>
        <%= form.text_field :content,  class: 'form-control col-2' %>
        <% @post.errors.full_messages_for(:content).each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      </div>
    </div>
    <div class="col-2 mx-auto">
      <%= form.submit "Save", class: 'ml-4 btn btn-primary' %>
      <%= link_to "Go back", :back, class: 'ml-2 btn btn-secondary' %>
    </div>
  </div>
<% end %>